pandas
pandas-datareader
pandas-profiling
pandas-stubs
plotly
pathlib
scipy
pillow
scikit_learn
statsmodels
streamlit
streamlit-option-menu
streamlit-pandas-profiling
category_encoders
numpy
seaborn
pygwalker
jupyterlab
statsmodels
pathlib